{%  extends 'base.html.twig' %}

{% block body  %}

        <br/>
        <h3 class="text-center liste-title"> Vous consultez la liste des {{ GenreToString }} ({{ nbResultats }} résultats trouvés)</h3>
        <br/>

        {% if 'Tendances' in GenreToString %}

            <button type="button" onclick="window.location.href='{{ path('listeBDTendances', {'page': '1', 'genre': genre, 'tri' : "new"  }) }}'" class="btn btn-primary">Les plus récents</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDTendances', {'page': '1', 'genre': genre, 'tri' : "old"  }) }}'" class="btn btn-primary">Les plus anciens</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDTendances', {'page': '1', 'genre': genre, 'tri' : "pos"  }) }}'" class="btn btn-primary">Le vote du public</button>

        {% elseif sousGenre is defined %}

            <button type="button" onclick="window.location.href='{{ path('listeBDSousGenre', {'page': '1', 'genre': genre, 'sousGenre' : sousGenre, 'tri' : "new"  }) }}'" class="btn btn-primary">Les plus récents</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDSousGenre', {'page': '1', 'genre': genre, 'sousGenre' : sousGenre, 'tri' : "old"  }) }}'" class="btn btn-primary">Les plus anciens</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDSousGenre', {'page': '1', 'genre': genre, 'sousGenre' : sousGenre, 'tri' : "pos"  }) }}'" class="btn btn-primary">Le vote du public</button>

        {% elseif genre is defined%}

            <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'page': '1', 'genre': genre, 'tri' : "new"  }) }}'" class="btn btn-primary">Les plus récents</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'page': '1', 'genre': genre, 'tri' : "old"  }) }}'" class="btn btn-primary">Les plus anciens</button>
            <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'page': '1', 'genre': genre, 'tri' : "pos"  }) }}'" class="btn btn-primary">Le vote du public</button>

        {% else %}

            <button type="button" onclick="window.location.href='{{ path('handleSearch', {'page': '1', 'query' : query, 'tri' : "new"  }) }}'" class="btn btn-primary">Les plus récents</button>
            <button type="button" onclick="window.location.href='{{ path('handleSearch', {'page': '1', 'query' : query, 'tri' : "old"  }) }}'" class="btn btn-primary">Les plus anciens</button>
            <button type="button" onclick="window.location.href='{{ path('handleSearch', {'page': '1', 'query': query, 'tri' : "pos"  }) }}'" class="btn btn-primary">Le vote du public</button>

        {% endif %}

    <ul class="list-unstyled">
        {% set i = 0 %}
        {% for BandeDessinee in BandeDessinees  %}

            <li class="media my-4">
                <a href="{{ path('BDDetaillee', {'id' : BandeDessinee.getId(), 'genre' : BandeDessinee.getGenre() }) }}"> <img src="{{ BandeDessinee.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                <div class="media-body">
                    <a href="{{ path('BDDetaillee', {'id' : BandeDessinee.getId(), 'genre' : BandeDessinee.getGenre() }) }}" class="BDlist-link"><h5 class="mt-0 mb-1">{{ BandeDessinee.getTitre() }}</h5></a>
                    <p class="font-weight-bold">{{ BandeDessinee.getDateDeParution()|date("d/m/Y") }} •

                        {% if BandeDessinee.getSesNotes()|length != 0 %}
                            {{ BandeDessinee.getNoteMoyenne() }} / 5</p>
                        {% else  %}
                            Aucune note</p>
                        {% endif %}

                    <p>{{ BandeDessinee.getDescription() }}</p>
                </div>
            </li>

        {% endfor %}
    </ul>




{% endblock %}
